#Files from the David directory not to track

David/*.png
David/*.pyc
David/*.fna
David/__pycache__/HORUS.cpython-38.pyc
David/weektaken/Blok 1/output.png
*.fna
*.jpg
*.png
config.json
David/BINGO/.env
*.pyc
David/BINGO/bingo test
*.dat
*.bingo
*.jpg
*.png
*.json
*.pkl
*.fasta
*.txt
