{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
DNA to Protein
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <p class="pt-5">Logged in as: {{ username }}</p>
            {{ render_form(form) }}
            <table>
                <tbody>
                <tr>
                    <td>Student nummer</td>
                    <td>{{ student_nr }}</td>
                </tr>
                <tr>
                    <td>Naam</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Geboren op</td>
                    <td>{{ geb_datum }}</td>
                </tr>
                <tr>
                    <td>Woonplaats</td>
                    <td>{{ woonplaats }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <td>Telefoon nummer</td>
                    <td>{{ telefoon }}</td>
                </tr>
                <tr>
                    <td>Klas</td>
                    <td>{{ klas }}</td>
                </tr>
                <tr>
                    <td>SLBer</td>
                    <td>{{ slber }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}